# SOEN363 Project

## Drop the DB Indecies **(Only for Debugging Purposes)**

In [ ]:
-- DROP INDEX actors_index;

## Drop the DB Views **(Only for Debugging Purposes)**

In [ ]:
-- DROP VIEW high_ratings;
-- DROP MATERIALIZED VIEW maximum_co_actors;

## Drop the DB tables **(Only for Debugging Purposes)**

In [59]:
DROP TABLE timelines;
DROP TABLE stats cascade; 
DROP TABLE participants cascade;
DROP TABLE bans cascade;
DROP TABLE teams cascade;
DROP TABLE games cascade;

: cannot drop view winning_team because other objects depend on it

In [ ]:
DROP VIEW winning_team;
DROP VIEW losing_team; 
DROP VIEW something_about_CC;
DROP VIEW something_about_vision;

In [ ]:
CREATE INDEX game_id_index ON games(gameId);
CREATE INDEX participant_id_index ON participants(participantId);
CREATE INDEX gameType_index ON games(gameType);
CREATE INDEX champion_id_index ON participants(championId);
CREATE INDEX team_id_index ON participants(teamId);

# Assignment Questions

## Create tables and import data

In [52]:
CREATE TABLE games (
    gameCreation    REAL,
    gameDuration    REAL,
    gameId          BIGINT NOT NULL,
    gameMode        TEXT,
    gameType        TEXT,
    gameVersion     TEXT,
    mapId           REAL,
    platformId      CHAR(8),
    queueId         REAL,
    seasonId        REAL,
    statusCode      REAL,
    statusMessage   REAL,
    PRIMARY KEY     (gameId)
);

CREATE TABLE teams (
    teamId          INTEGER NOT NULL,
    win             TEXT,
    firstBlood      BOOLEAN,
    firstTower      BOOLEAN,
    firstInhibitor  BOOLEAN,
    firstBaron      BOOLEAN,
    firstDragon     BOOLEAN,
    firstRiftHerald BOOLEAN,
    towerKills      INTEGER,
    inhibitorKills  INTEGER,
    baronKills      INTEGER,
    dragonKills     INTEGER,
    vilemawKills    INTEGER,
    riftHeraldKills INTEGER,
    dominionVictoryScore INTEGER,
    gameId          BIGINT,
    PRIMARY KEY     (teamId, gameId),
    FOREIGN KEY     (gameId) REFERENCES games(gameId)
);

CREATE TABLE bans (
    championId      INTEGER,
    pickTurn        INTEGER,
    gameId          BIGINT,
    teamId          INTEGER,
    banId           INTEGER NOT NULL,
    PRIMARY KEY     (banId, teamId, gameId),
    FOREIGN KEY     (teamId, gameId) REFERENCES teams(teamId, gameId)
);

CREATE TABLE participants (
    participantId   INTEGER NOT NULL,
    teamId          INTEGER,
    championId      INTEGER,
    spell1Id        INTEGER,
    spell2Id        INTEGER,
    gameId          BIGINT,
    PRIMARY KEY     (participantId, gameId),
    FOREIGN KEY     (gameId) REFERENCES games(gameId)
);

CREATE TABLE stats (
    participantId	                INTEGER,
    win	                            BOOLEAN,
    item0	                        INTEGER,
    item1	                        INTEGER,
    item2	                        INTEGER,
    item3	                        INTEGER,
    item4	                        INTEGER,
    item5	                        INTEGER,
    item6	                        INTEGER,
    kills	                        INTEGER,
    deaths	                        INTEGER,
    assists	                        INTEGER,
    largestKillingSpree             INTEGER,	
    largestMultiKill	            INTEGER,
    killingSprees	                INTEGER,
    longestTimeSpentLiving	        INTEGER,
    doubleKills	                    INTEGER,
    tripleKills	                    INTEGER,
    quadraKills	                    INTEGER,
    pentaKills	                    INTEGER,
    unrealKills	                    INTEGER,
    totalDamageDealt	            INTEGER,
    magicDamageDealt	            INTEGER,
    physicalDamageDealt	            INTEGER,
    trueDamageDealt	                INTEGER,
    largestCriticalStrike	        INTEGER,
    totalDamageDealtToChampions	    INTEGER,
    magicDamageDealtToChampions	    INTEGER,
    physicalDamageDealtToChampions	INTEGER,
    trueDamageDealtToChampions	    INTEGER,
    totalHeal	                    INTEGER,
    totalUnitsHealed	            INTEGER,
    damageSelfMitigated	            INTEGER,
    damageDealtToObjectives	        INTEGER,
    damageDealtToTurrets	        INTEGER,
    visionScore	                    INTEGER,
    timeCCingOthers	                INTEGER,
    totalDamageTaken	            INTEGER,
    magicalDamageTaken	            INTEGER,
    physicalDamageTaken	            INTEGER,
    trueDamageTaken	                INTEGER,
    goldEarned	                    INTEGER,
    goldSpent	                    INTEGER,
    turretKills	                    INTEGER,
    inhibitorKills	                INTEGER,
    totalMinionsKilled	            INTEGER,
    neutralMinionsKilled	        INTEGER,
    neutralMinionsKilledTeamJungle	INTEGER,
    neutralMinionsKilledEnemyJungle	INTEGER,
    totalTimeCrowdControlDealt	    INTEGER,
    champLevel	                    INTEGER,
    visionWardsBoughtInGame	        INTEGER,
    sightWardsBoughtInGame	        INTEGER,
    wardsPlaced	                    INTEGER,
    wardsKilled                     INTEGER,
    firstBloodKill	                BOOLEAN,
    firstBloodAssist	            BOOLEAN,
    firstTowerKill	                BOOLEAN,
    firstTowerAssist	            BOOLEAN,
    firstInhibitorKill	            BOOLEAN,
    firstInhibitorAssist	        BOOLEAN,
    combatPlayerScore		        INTEGER,
    objectivePlayerScor             INTEGER,
    totalPlayerScor    	            INTEGER,
    totalScoreRank		            INTEGER,
    playerScore0		            INTEGER,
    playerScore1		            INTEGER,
    playerScore2		            INTEGER,
    playerScore3		            INTEGER,
    playerScore4		            INTEGER,
    playerScore5		            INTEGER,
    playerScore6		            INTEGER,
    playerScore7		            INTEGER,
    playerScore8		            INTEGER,
    playerScore9		            INTEGER,
    perk0		                    INTEGER,
    perk0Var1		                INTEGER,
    perk0Var2		                INTEGER,
    perk0Var3		                INTEGER,
    perk1		                    INTEGER,
    perk1Var1		                INTEGER,
    perk1Var2		                INTEGER,
    perk1Var3		                INTEGER,
    perk2		                    INTEGER,
    perk2Var1		                INTEGER,
    perk2Var2		                INTEGER,
    perk2Var3		                INTEGER,
    perk3		                    INTEGER,
    perk3Var1		                INTEGER,
    perk3Var2		                INTEGER,
    perk3Var3		                INTEGER,
    perk4		                    INTEGER,
    perk4Var1		                INTEGER,
    perk4Var2		                INTEGER,
    perk4Var3		                INTEGER,
    perk5		                    INTEGER,
    perk5Var1		                INTEGER,
    perk5Var2		                INTEGER,
    perk5Var3		                INTEGER,
    perkPrimaryStyle		        INTEGER,
    perkSubStyle		            INTEGER,
    statPerk0		                INTEGER,
    statPerk1		                INTEGER,
    statPerk2	                    INTEGER,
    gameId                          BIGINT,
    PRIMARY KEY         (participantId, gameId),
    FOREIGN KEY         (participantId, gameId) REFERENCES participants(participantId, gameId)
); 

CREATE TABLE timelines (
    participantId       INTEGER,
    creepsPerMinDeltas  TEXT,
    xpPerMinDeltas      TEXT,
    goldPerMinDeltas    TEXT,
    damageTakenPerMinDeltas TEXT,
    role                TEXT,
    lane                TEXT,
    gameId              BIGINT,
    PRIMARY KEY         (participantId, gameId),
    FOREIGN KEY         (participantId, gameId) REFERENCES participants(participantId, gameId)
);

COPY games FROM '/srv/soen363/phase2/games.csv' DELIMITER ',' CSV HEADER;
COPY teams FROM '/srv/soen363/phase2/teams.csv' DELIMITER ',' CSV HEADER;
COPY bans FROM '/srv/soen363/phase2/bans.csv' DELIMITER ',' CSV HEADER;
COPY participants FROM '/srv/soen363/phase2/participants.csv' DELIMITER ',' CSV HEADER;
COPY stats FROM '/srv/soen363/phase2/stats.csv' DELIMITER ',' CSV HEADER;
COPY timelines FROM '/srv/soen363/phase2/timelines.csv' DELIMITER ',' CSV HEADER;

# Queries

In [261]:
CREATE OR REPLACE VIEW bans_filtered AS
SELECT b.* FROM bans AS b 
INNER JOIN games AS g ON b.gameId = g.gameId
WHERE g.gameMode = 'CLASSIC';

In [262]:
CREATE OR REPLACE VIEW games_filtered AS
SELECT * FROM games
WHERE games.gameMode = 'CLASSIC';

In [263]:
CREATE OR REPLACE VIEW participants_filtered AS
SELECT p.* FROM participants as p
INNER JOIN games AS g ON p.gameId = g.gameId
WHERE g.gameMode = 'CLASSIC';

In [283]:
CREATE OR REPLACE VIEW stats_filtered AS
SELECT s.* FROM stats as s
INNER JOIN games AS g ON s.gameId = g.gameId
WHERE g.gameMode = 'CLASSIC';

In [265]:
CREATE OR REPLACE VIEW teams_filtered AS
SELECT t.* FROM teams as t
INNER JOIN games AS g ON t.gameId = g.gameId
WHERE g.gameMode = 'CLASSIC';

In [266]:
CREATE OR REPLACE VIEW timelines_filterd AS
SELECT time.* FROM timelines as time
INNER JOIN games AS g ON time.gameId = g.gameId
WHERE g.gameMode = 'CLASSIC';

## <span style="font-size: 13pt; font-family: Lato, sans-serif; color: rgb(255, 255, 255); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">1 - </span> 1 - What is the average tower kill per team?

In [268]:
CREATE OR REPLACE VIEW teams_100 AS
SELECT teamId, gameId, AVG(towerKills) AS avg_100
FROM teams_filtered
WHERE teamId = 100
GROUP BY teamId, gameId;

In [269]:
CREATE OR REPLACE VIEW teams_200 AS
SELECT teamId, gameId, AVG(towerKills) AS avg_200
FROM teams_filtered
WHERE teamId = 200
GROUP BY teamId, gameId;

In [270]:
SELECT (AVG(avg_100) + AVG(avg_200)) / 2 AS average_tower_kills_per_team
FROM teams_100, teams_200;

average_tower_kills_per_team
4.52731326644370122631

## <span style="font-size: 13pt; font-family: Lato, sans-serif; color: rgb(255, 255, 255); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">2 - </span> Does the team with the most time CCing others usually win the game?

In [271]:
CREATE OR REPLACE VIEW winning_team AS
SELECT DISTINCT *
FROM stats_filterd
WHERE win = 'true';

In [272]:
CREATE OR REPLACE VIEW losing_team AS
SELECT DISTINCT *
FROM stats_filterd
WHERE win = 'false';

In [273]:

CREATE OR REPLACE VIEW something_about_CC AS
SELECT winning_team.gameId, SUM(winning_team.timeCCingOthers) AS "CC_Winning_Team", SUM(losing_team.timeCCingOthers) AS "CC_Losing_Team"
FROM winning_team JOIN losing_team ON winning_team.gameId = losing_team.gameId
GROUP BY winning_team.gameId;

In [274]:
SELECT AVG("CC_Winning_Team") AS Winning_Team_Average, AVG("CC_Losing_Team") AS Losing_Team_Average
FROM something_about_CC

winning_team_average,losing_team_average
468.1382385730211817,441.2931995540691193

## <span style="font-size: 13pt; font-family: Lato, sans-serif; color: rgb(255, 255, 255); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">3 - </span> Does the team with the highest total vision score win more often?

In [275]:
CREATE OR REPLACE VIEW something_about_vision AS
SELECT winning_team.gameId, SUM(winning_team.visionScore) AS "Vision_Winning_Team", SUM(losing_team.visionScore) AS "Vision_Losing_Team"
FROM winning_team JOIN losing_team ON winning_team.gameId = losing_team.gameId
GROUP BY winning_team.gameId;

In [276]:
SELECT AVG("Vision_Winning_Team") AS Winning_Team_Average, AVG("Vision_Losing_Team") AS Losing_Team_Average
FROM something_about_vision

winning_team_average,losing_team_average
822.5696767001114827,726.9453734671125975

## <span style="font-size: 13pt; font-family: Lato, sans-serif; color: rgb(255, 255, 255); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">4 - Does the team that kills the first Rift Herald win more often?</span>

In [277]:
CREATE OR REPLACE VIEW rift_herald_win AS
SELECT COUNT(gameId) as rift_winning_team 
FROM teams_filtered
WHERE win = 'Win' AND firstRiftHerald = 'true';

In [278]:
CREATE OR REPLACE VIEW rift_herald_loss AS 
SELECT COUNT(gameId) as rift_losing_team
FROM teams_filtered
WHERE win = 'Fail' AND firstRiftHerald = 'true';

In [279]:
SELECT rift_winning_team, rift_losing_team
FROM rift_herald_win, rift_herald_loss;

rift_winning_team,rift_losing_team
550,320

## <span style="font-size: 13pt; font-family: Lato, sans-serif; color: rgb(255, 255, 255); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">5 - Which are the top 10 champions with the most multikills?</span>

In [285]:
CREATE OR REPLACE VIEW multikill_champion AS
SELECT championId, doubleKills, tripleKills, quadraKills, pentaKills, doubleKills+tripleKills+quadraKills+pentaKills as totalMultiKill
FROM participants_filtered JOIN stats_filtered ON participants_filtered.gameId = stats_filtered.gameId;

In [286]:
SELECT championId, MAX(totalMultiKill) AS multi_killz
FROM multikill_champion
GROUP BY championId 
ORDER BY multi_killz DESC
LIMIT 10;

championid,multi_killz
119,10
61,10
875,10
236,10
114,10
518,10
101,10
59,10
350,10
81,10

## 6 - Which champion (championId) gets the most kills in a game on average?

In [287]:
CREATE OR REPLACE VIEW killz AS
SELECT championId, AVG(kills) AS kill_average
FROM participants_filtered JOIN stats_filtered ON participants_filtered.gameId = stats_filtered.gameId AND participants_filtered.participantId = stats_filtered.participantId
GROUP BY championId;

In [288]:
SELECT * FROM killz
ORDER BY kill_average DESC
LIMIT 1;

championid,kill_average
254,8.5000000000000000

## 7 - Which champion (championId) dies the most in a game on average?

In [289]:
CREATE OR REPLACE VIEW deathz AS
SELECT championId, AVG(deaths) AS death_average
FROM participants_filtered JOIN stats_filtered ON participants_filtered.gameId = stats_filtered.gameId AND participants_filtered.participantId = stats_filtered.participantId
GROUP BY championId;

In [290]:
SELECT * FROM deathz
ORDER BY death_average DESC
LIMIT 1;

championid,death_average
92,7.0000000000000000

## 8 - Which champion (championId) gets the most assists in a game on average?

In [291]:
CREATE OR REPLACE VIEW assistz AS
SELECT championId, AVG(assists) AS assist_average
FROM participants_filtered JOIN stats_filtered ON participants_filtered.gameId = stats_filtered.gameId AND participants_filtered.participantId = stats_filtered.participantId
GROUP BY championId;

In [292]:
SELECT * FROM assistz
ORDER BY assist_average DESC
LIMIT 1;

championid,assist_average
427,15.0000000000000000

## 9 - Does the team that gets the Dragon Soul (4 dragon kills in a game) win considerably more often?

In [293]:
CREATE OR REPLACE VIEW dragon_soul_win AS
SELECT COUNT(gameId) as dragon_winning_team 
FROM teams_filtered
WHERE win = 'Win'  AND dragonKills >= 4;

In [294]:
CREATE OR REPLACE VIEW dragon_soul_lose AS
SELECT COUNT(gameId) as dragon_losing_team 
FROM teams_filtered
WHERE win = 'Fail' AND dragonKills >= 4;

In [296]:
SELECT dragon_winning_team AS dragon_soul_winning_teams, dragon_losing_team AS dragon_soul_losing_teams
FROM dragon_soul_lose, dragon_soul_win;

dragon_soul_winning_teams,dragon_soul_losing_teams
141,16

## 10 - Which champion (championId) gains the most gold per minute in a game on average?

In [297]:
CREATE OR REPLACE VIEW gold_table AS
SELECT DISTINCT p.gameId, p.participantId, championId, gameDuration / 60 AS game_duration_minutes, goldEarned
FROM participants_filtered AS p 
INNER JOIN games AS g ON p.gameId = g.gameId
INNER JOIN stats AS s ON p.gameId = s.gameId AND p.participantId = s.participantId;

In [308]:
SELECT championId, AVG(goldEarned / game_duration_minutes) AS gold_ratio
FROM gold_table
GROUP BY championId 
ORDER BY gold_ratio DESC 
LIMIT 1;

championid,gold_ratio
6,477.7674418604651

# Indices