# SOEN363 Project

## Create the required tables

In [6]:
CREATE TABLE movies (
    mid             INTEGER, 
    title           VARCHAR, 
    year            DATE, 
    rating          REAL, 
    num_ratings     INTEGER
);

CREATE TABLE actors (
    mid             INTEGER, 
    name            VARCHAR, 
    cast_position   INTEGER
);

CREATE TABLE genres (
    mid             INTEGER, 
    genre           VARCHAR
);

CREATE TABLE tags (
    mid             INTEGER, 
    tid             INTEGER
);

CREATE TABLE tag_names (
    tid             INTEGER, 
    tag             VARCHAR
);

## Drop the required tables

In [7]:
DROP TABLE movies;

DROP TABLE actors;

DROP TABLE genres;

DROP TABLE tags;

DROP TABLE tag_names;